.audit-background
  background #F7F7F7


.audit-banner
  text-align center


#audit-logo-image
  width 200px


.audit-container
  width 100%
  min-height 100%
  background-color #F8F8F8
  bottom 4em
  top 150px
  padding-bottom 150px


.audit-header
  height 115px
  background-color #F8F8F8
  margin 0 auto


#audit-icon
  width 35px
  margin-right 8px
  margin-left 12px
  position relative
  top 4px


.audit-header-title
  width 656px
  padding-top 34px
  margin 0 auto


.audit-header-text
  display inline-block
  font-size 28px
  color black
  position relative
  font-weight 400
  bottom 7px


.audit-body
  width 656px
  background-color #FFFFFF
  margin 0 auto


.audit-content-head
  height 33px
  width 100%
  position relative
  box-shadow 2px 2px 2px  #E6EAE9
  background #EBEBE7

  &.is-active
    background #6EC5C1
    text-align left

    .audit-content-head-title
      color #F8F8F8


  .audit-content-head-title
    padding-top 10px
    padding-left 20px
    float left
    color #7D7D7D
    text-align left



  // .audit-content-head-title-alt
  //   padding-top 9px
  //   padding-left 20px
  //   float left



.audit-content
  display none
  text-align left
  padding-top 0
  padding-left 20px
  padding-bottom 25px

  &.is-open
    display block
    text-align left




#audit-content-title
  color #6A6A6A
  padding-top 25px
  font-weight normal


#audit-content-info
  color #7D7D7D
  font-family "Lato-Light", "Lato"
  padding-top 14px
  font-weight light


#audit-content-info-alt
  font-size 12px
  color #7D7D7D
  font-family "Lato-Light", "Lato"
  padding-top 10px
  font-weight light


.audit-drawer
  padding-bottom 6px

.audit-circle
  display inline-block
  font-size 24px
  color white
  width 23px
  height 23px
  background #65DACA
  margin-top 6px
  border-radius 50%
  behavior url(PIE.php)
  float right
  position relative
  right 13px
  z-index 0

  &.is-active
    background white

  h2
    font-size 30px
    line-height 0.6em
    position relative
    left 5px
    -webkit-user-select none  /* Chrome all / Safari all */
    -moz-user-select none     /* Firefox all */
    -ms-user-select none      /* IE 10+ */
    cursor pointer


  #circle-symbol
    display none
    color #1D959D
    font-size 41px
    line-height 0.6em
    position relative
    left 4px
    bottom 3px
    cursor pointer

  #circle-symbol2
    display inline
    font-size 24px
    font-weight 400
    line-height 1em
    position relative
    bottom 1px
    left 5px
    cursor pointer

  &.is-active

    #circle-symbol
      display inline

    #circle-symbol2
      display none


.audit-circle-alt
  display inline-block
  background #FFF
  width 22px
  height 22px
  background #65DACA
  behavior url(PIE.php)
  margin-top 6px
  border-radius 50%
  float right
  position absolute
  right 13px
  z-index 0

  h2
    font-size 22px
    line-height 1em
    position absolute
    left 4px

@-moz-document url-prefix()
  #circle-symbol
    top 0px
    
  #circle-symbol2
    top 0px








