/* Login Page Styles*/

#productName {
	display: block !important;
	background-color: #4D9DA2 !important;
	/*line-height: 1.5em !important;*/
}

#login input {
	line-height: 2.9em;
}

.ie-arrow {
	padding-left: 0 !important ;
}

#login input {
	line-height: 2.5;
}


.button1 span{
	font-size: 1.8em !important;
}

#inputPassword .button1 {
	top: -1px;
}

.button1 span {
	right: 1px;
}

/* Landing Page Styles*/

/*.circleChoice {
	display: inline;

}*/

/* nav styles */

#topNav{
	display: block !important;
	background-color: #AAE2D9 !important;
}

/* Send1 Template Styles */

/*.step-text {
	display: inline;
}

.step-circle {
	display: inline;
}*/

.step2-item {
	display: inline;
	float: right;
	position: relative;
	right: 20px;
	-moz-opacity: 0.50;
	opacity:.50;
	filter: alpha(opacity=50);
}

.send-header {
	height: 115px;
}

.header-text {
	padding-bottom: 40px
}

.send-input {
	line-height:2.0em;
	color: #BEABA9;
}

.styled-select {
	height: 42px;
}

.styled-select select {
	width: 140%;
}

.srcTag {
	color:#496B71;
	font-size: 19px;
	float:left;
	line-height: 2.5em;
	position: relative;
}



/*Send 2 Template*/

.header-row {
	height:70px;
	font-family: 'Lato';
	font-weight: bold !important;
}

.header-row th{
	text-align: left;
}

.data-row {
	text-align: left;
}

.step1-item {
	display: inline;
	float: left;
	position: relative;
	-moz-opacity: 0.50;
	opacity:.50;
	filter: alpha(opacity=50);
}

.button-container {
	filter: alpha(opacity=50);
}

.form-input {
	line-height: 2.4em;
}

.subheader-left-item {
	-moz-opacity: 0.50;
	opacity:.50;
	filter: alpha(opacity=50);
}

.subheader-right-item {
	-moz-opacity: 0.50;
	opacity:.50;
	filter: alpha(opacity=50);
}

#select-input option{
	line-height: 0;
}

.select-file .step-circle p {
	padding-top: 0px;
	padding-bottom: 2px;
}


/*Send 3 Template*/

.expand-button span {
	bottom: 1px !important;
}

#send-recipient-to {
	margin-right: 106px;
	line-height: 0;
}
.form-label .send {
	line-height: 1;
}

/* Send 4 Template*/

.confirm-head {
	font-weight: bold;
}

.confirm-message-body {
	font-weight: 400;
}

/* Receive template */

.receive-body {
	width: 450px;
}


.receive-content {
	width:234px;
	margin: 0 auto;
}

.receive-input {
	width: 234px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 2;
	color: #A9A9A9;
}

#receive-arrow {
	position: absolute;
	top: 11px;
	right: 10px;
}

.receive-authorize {
	position: relative;
	width: 252px;
	margin: 0 auto;
	font-weight:700;
}

.receive-authorize-text {
	padding-top: 10px;
	font-weight: 700;
	font-size: 16px;

}


/* Audit Template*/

#audit-content-title {
	font-weight: bold;
}

.audit-drawer {
	padding-bottom: 4px;
	-moz-display: none;
}

.audit-circle #circle-symbol {
	font-size: 34px;
	bottom: 2px;
	left: 5px;
}

/* jTable */ 
.ui-dialog-buttonset {
  	width: 174px;
  	margin: 0 auto;
}
#AddRecordDialogSaveButton {
	margin-top: 8px;
}
