.send-banner {
	text-align: center;
}

#send-logo-image {
	width: 200px;
}

.send-container{
	width:100%;
	height: 800px;
	position: absolute;
	bottom:4em;
	top:150px;
	background-color: #F2F2F0;

}

.send-header {
	height:115px;
	background-color: #F7F7F7;

}

#send-icon {
	width: 35px;
	padding-right: 8px;
	position: relative;
	top: 4px;
}

.header-text {
	font-family: 'Lato-Regular';
	padding-top: 40px;
	font-size: 34px;
	color: black;
	text-align: center;
}

.send-subHeader {
	height: 66px;
	background-color: #EBEBE7;
	color: black;
	text-align: center;
}

.step-text {
	display: inline-block;
	font-weight: bold;
	font-size: 24px;
	color: #51C6B2 ;
	padding-top: 22px;

}

.step-circle {
	display: inline-block;
	color: white;
	border-radius: 50%;
	behavior: url(PIE.php);
	width: 26px;
	height: 26px;
	font-family: "Lato-Regular";
	font-size: 24px;
	background: #51C6B2;
	position:relative;
	z-index: 0;
}

.send-filter-text {
	display: inline-block;
	font-weight: bold;
	padding-left: 8px;
	position: relative;
	bottom: 1px;
}

.instruction-text {
	font-style: italic;
	padding-left: 6px;
	font-size: 15px;
	position: relative;
	bottom: 1px;

}


.step2-item {
	display: inline;
	float: right;
	position: relative;
	right: 20px;
	opacity: 0.5;
}

.form-container {
	margin-top: 30px;
}


#form-send-id {
	width: 370px;
	margin:0 auto;
}



.srcTag {
	color:#496B71;
	font-size: 19px;
	float:left;
	line-height: 2.9em;
	position: relative;
}

.send-input {
	padding-left: 8px;
	font-family: 'Lato';
	font-weight: lighter;
	color: #4F6F75;
	font-size: 18px;
	width: 273px;
	height:36px;
	display: block;
	float: right;
	margin: 7px;
	border: 2px solid #ABDEDA;
}



.styled-select select {
  background: transparent;
  width: 280px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  behavior: url(PIE.php);
  height: 41px;
  -webkit-appearance: none;
  position: relative;
  z-index: 0;
  font-family: 'Lato-Regular';
  font-size: 18px;
  padding-left: 8px;
  color:#8C8F8F;
}

.styled-select {
	margin: 7px;
	float: right;
  width: 282px;
  height: 42px;
  overflow: hidden;
  background: url(/images/list-arrow-sm.png) no-repeat right #ddd;
  background-position: 97% 56%;
  border: 2px solid #ABDEDA;
  background-color: #EFF9F8;
}

#send-button {
	width: 286px;
	height:40px;
	display: block;
	float: right;
	margin: 7px;
	border: 2px solid #7EE7D6;
	font-size: 19px;
	color:white;
	font-family: 'Lato-Regular';
	background:#7EE7D6;
}



#submit-img {
	width: 21px;
	position: relative;
	top:1px;
	left:6px;
}
